@media (max-width: 768px){
    .product-card {

        background: white;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.1);
        width: 170px;
        transition: all .2s;
        padding: 10px;
        text-align: left;
        overflow: hidden;
      }
}